# Godot 4+ specific ignores
.godot/
.vscode/
/android/
bin/
**/*.tmp
**/*.blend
**/*.blend*
**/*.*~
**/*.kra
**/*.o
**/*.a
**/*.dll
**/*.exe
**/*.obj.import
**/*.obj
**/*.os
.sconsign.dblite
vc140.pdb
node_modules/